body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button {
  min-width: 101px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s transform;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button__long {
  display: block;
  width: 170px;
  margin: 45px auto 0 auto;
}
.button .inner {
  position: relative;
  background-color: #9F0013;
  line-height: 18px;
  padding: 0 18px;
  transition: none;
}
.button .inner::before {
  border-color: #9F0013 transparent;
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  transition: none;
}
.button .inner::after {
  border-color: #9F0013 transparent;
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: rotate(180deg);
  transition: none;
}
.button__main:hover, .button__secondary:hover {
  color: #fff;
}
.button__secondary .inner {
  background-color: #5C5C5C;
}
.button__secondary .inner::before {
  border-color: #5C5C5C transparent;
  transition: none;
}
.button__secondary .inner::after {
  border-color: #5C5C5C transparent;
  transition: none;
}
.button::before {
  content: "";
  display: block;
  height: 10px;
  margin-left: 10px;
  transition: none;
}
.button::after {
  content: "";
  display: block;
  height: 10px;
  margin-right: 10px;
  transition: none;
}
.button.button__main::before, .button.button__main::after {
  background-color: #9F0013;
}
.button.button__secondary::before, .button.button__secondary::after {
  background-color: #5C5C5C;
}
.button:hover {
  transform: translateY(-5px);
}
.button:disabled {
  display: none
}